
{% extends '::base.html.twig'  %}

{% block body %}

    {{ question.translation }}


    <form action="{{ path('answer') }}" method="post" {{ form_enctype(form) }} novalidate >
        {{ form_widget(form) }}
        <input type="submit" value="Save Post" />
    </form>
{% endblock %}
